<div class="card-pf card-bottom-offset" style="margin-top:40px">
    <div class="card-pf-heading">
        <div class="row">
            <div class="col-xs-6">
                <a href="{{nextUrl({node:node})}}"><h1 class="card-pf-title">{{node.name}}</h1></a>
            </div>
            <div class="col-xs-6 text-right">
                <span class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification "><small class="h2"><span class="small glyphicon glyphicon-usd"></span></small><span class="h3">{{node.billing.current.value}}</span></span>
                <span class="card-pf-aggregate-status-notification"><small class="h2"><span class="small glyphicon glyphicon-usd"></span></small><span class="h3">{{node.billing.prediction.value}}</span></span>
                </span>
            </div>
        </div>
    </div>
    <div class="card-pf-body">
        <div mngmt-progress data="node.quotas[0]" bar-color1="{{'#f39d3c'}}" bar-color2="{{'#ec7a08'}}" icon="pficon pficon-image"></div>
        <div mngmt-progress data="node.quotas[1]" bar-color1="{{'#ace12e'}}" bar-color2="{{'#92d400'}}" icon="fa fa-server"></div>
        <div mngmt-progress data="node.quotas[2]" bar-color1="{{'#3a9ca6'}}" bar-color2="{{'#007a87'}}" icon="fa fa-clock-o"></div>
    </div>
</div>