<div mngmnt-breadcrumb list="breadcrumbList"></div>
<div class="row">
    <div class="cards-pf" style="margin-top: -20px;">
        <div class="container-fluid container-cards-pf">
            <div ng-repeat="curType in types" class="row">
                <div ng-if="elementsOfType(data, curType)!=0">
                    <h3 >{{curType}}s</h3>
                    <hr style="margin-bottom: -20px"/>
                        <div ng-repeat="elem in data|nodeTypeFilter:curType" ng-class="{'row':$odd,'row-cards-pf':$odd}">
                            <div ng-class="{'col-xs-6': elementsOfType(data)!=1, 'col-md-offset-3 col-md-6': elementsOfType(data)==1}">
                                <div mngmt-card node="elem" next-url="nextUrl(node)"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>